:root {
  --easy: #00ff00;
  --medium: #ffff00;
  --hard: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}
body {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ddd;
}
.container {
  background: #333;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 500px;
  width: 100%;
}
.container-smol {
  background: #333;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.opt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
input,
select,
button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: #222;
  color: #fff;
}
.number-input:focus {
  box-shadow: inset 0 -10px 10px -10px #00c410;
}
select {
  cursor: pointer;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
}
.btns button {
  width: 47%;
}
.generate,
.reset {
  position: relative;
  z-index: 1;
}
.generate::after,
.reset::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s ease;
  z-index: -1;
}
.generate::after {
  background: #00be00;
  box-shadow: 3px 0 10px #00be00;
}
.reset::after {
  background: #c40000;
  box-shadow: 3px 0 10px #c40000;
}
.generate:hover::after,
.reset:hover::after {
  width: 100%;
  border-radius: 5px;
}
.generate:hover::after {
  box-shadow: 0 0 10px #00be00;
}
.reset:hover::after {
  box-shadow: 0 0 10px #c40000;
}
button:hover {
  transform: scale(0.97);
}

.question {
  position: relative;
  background: #222;
  width: 100%;
  border-radius: 5px;
  padding: 20px 10px 20px 30px;
  text-wrap: wrap;
}
.difficulty {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.easy {
  background: var(--easy);
  box-shadow: 3px 0 10px var(--easy);
}
.medium {
  background: var(--medium);
  box-shadow: 3px 0 10px var(--medium);
}
.hard {
  background: var(--hard);
  box-shadow: 3px 0 10px var(--hard);
}

.answers {
  padding: 20px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.answer,
.answered {
  position: relative;
  width: 48%;
  display: flex;
  align-items: center;
  background: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 1;
  font-weight: 600;
}
.answer::after,
.answered::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  border-radius: 5px 0 0 5px;
  z-index: -1;
}
.answer {
  cursor: pointer;
}
@media (max-width: 360px) {
  .answers,
  .answer,
  .answered {
    width: 100%;
  }
}
.answer::after {
  background: #008a9f;
  box-shadow: 3px 0 10px #008a9f;
  transition: all 0.3s ease;
}
.answer:hover::after {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #008a9f;
}

.percent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
}
svg {
  position: relative;
  width: 200px;
  height: 200px;
}
circle {
  width: 200px;
  height: 200px;
  fill: none;
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  stroke-linecap: round;
  transition: all 0.3s linear;
}
circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #444;
}
circle:nth-child(2) {
  stroke-dashoffset: calc(600 - (600 * 50) / 100);
  opacity: 1;
  animation: animate-circle 1s linear;
}
@keyframes animate-circle {
  0% {
    opacity: 0;
    stroke-dashoffset: 600;
  }
  100% {
    opacity: 1;
  }
}
.r1 {
  stroke: var(--hard);
}
.r2 {
  stroke: var(--medium);
}
.r3 {
  stroke: var(--easy);
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  font-size: 3rem;
}
.number span {
  position: relative;
  bottom: -6px;
  font-size: 1.8rem;
}
.again {
  position: relative;
  width: 100%;
  color: #ddd;
  letter-spacing: 0px;
  z-index: 1;
}
.again::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  box-shadow: 3px 0 10px #fff;
  transition: all 0.3s ease;
  z-index: -1;
}
.again:hover {
  transform: scale(0.97);
  color: #000;
}
.again:hover::after {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
}

.err {
  box-shadow: inset 0 -10px 10px -10px #c40000;
}
.err:focus {
  box-shadow: inset 0 -10px 10px -10px #c40000;
}
.err-msg {
  color: #c40000;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 700;
}

.correct::after {
  background: var(--easy);
  box-shadow: 3px 0 10px var(--easy);
}
.wrong::after {
  background: var(--hard);
  box-shadow: 3px 0 10px var(--hard);
}

.hidden {
  display: none;
}
